<body>
    <br>
    <br>
    <form class="form-inline">
    <div class="form-group" id=divId>
        <label for="inputCustomerId">Customer Id</label>
        <input class="form-control" placeholder="Enter CustomerId"
                [(ngModel)] = "_selectedId"
                type="number" id="inputUserId" name="id" />
    </div>
    </form>
    <br>
    <br>
    <table style="margin-left: 10px" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.password}}</td>
        </tr>
    </tbody>
    </table>
    <button (click)="getCustomer()" class="btn btn-warning btn-lg"> Search Customer <span class="glyphicon glyphicon-search"></span></button>
</body>