<body>
<div class="wrap">
<br>
<form style="margin-left: 20px" class="form-inline" ngNativeValidate>
  <div class="form-group">
      <label for="inputUserName">Username</label>
      <input class="form-control" placeholder="Enter Username"
             [(ngModel)] = "company.name"
              type="text" id="inputUserName" name="name" required/>
  </div>
  <div class="form-group">
      <label for="inputPassword">Password</label>
      <input class="form-control" placeholder="Enter Password"
             [(ngModel)] = "company.password"
              type="password" id="inputPassword" name="password" required/>
  </div>
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input class="form-control" placeholder="Enter Email"
           [(ngModel)] = "company.email"
            type="email" id="inputEmail" name="email" />
</div>
<br>
<br>
  <button (click)="addCompany()" class="btn btn-warning btn-lg"> Add company <span class="glyphicon glyphicon-plus"></span></button>
</form>
</div>
</body>