<body>
    <div class="form-group">
        <label for="couponPrice">Enter Coupon's Max Price</label>
        <input placeholder="Max Price"
                [(ngModel)] = "_selectedPrice"
                type="text" id="inputPrice" name="price" required/>
    </div>
  <div class="wrap">
  <br>
  <table style="margin-left: 10px" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="color-change">Id</th>
            <th class="color-change">Title</th>
            <th class="color-change">Start date</th>
            <th class="color-change">End date</th>
            <th class="color-change">Amount</th>
            <th class="color-change">Type</th>
            <th class="color-change">Message</th>
            <th class="color-change">Price</th>
            <th class="color-change">Image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coupon of _couponsByPrice">
            <td class="color-change">{{coupon.id}}</td>
            <td class="color-change">{{coupon.title}}</td>
            <td class="color-change">{{coupon.start_date | date : "dd/MM/yyyy"}}</td>
            <td class="color-change">{{coupon.end_date | date : "dd/MM/yyyy"}}</td>
            <td class="color-change">{{coupon.amount}}</td>
            <td class="color-change">{{coupon.type}}</td>
            <td class="color-change">{{coupon.message}}</td>
            <td class="color-change">{{coupon.price | currency : "ILS"}}</td>
            <td class="color-change"><img src="{{coupon.image}}"></td>
        </tr>
    </tbody>
  </table>
  <button (click)="getPurchasedCouponsByPrice()" class="btn btn-warning btn-lg"> Coupons By Top Price <span class="glyphicon glyphicon-upload"></span></button>
  </div>
  </body>