<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
    <title>Pure CSS3 Menu</title>
		<link href="./assets/menu-bar/style.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="./assets/menu-bar/iconic.css" media="screen" rel="stylesheet" type="text/css" />
		<script src="./assets/menu-bar/prefix-free.js"></script>
	</head>

<body>
	<div class="wrap">
	
	<nav>
		<ul class="menu">
			<li><a href="#" routerLink="/create-coupon"><span class="iconic plus-alt"></span>Create Coupon</a></li>
			<li><a href="#" routerLink="/get-coupon"><span class="iconic magnifying-glass"></span>Get Coupon</a></li>
			<li><a href="#" routerLink="/get-all-coupons"><span class="iconic magnifying-glass"></span>Get Coupons</a>
			<li><a href="#" routerLink="/get-coupons-by-type"><span class="iconic magnifying-glass"></span>Get Coupons By Type</a>
		</ul>
		<ul class="nav navbar-nav navbar-right">        
			<li><a href="http://localhost:8080/index.html" id="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
		<div class="clearfix"></div>
	</nav>
	</div>
</body>

</html>