<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
		<title>Pure CSS3 Menu</title>
		<link href="./assets/menu-bar/style.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="./assets/menu-bar/iconic.css" media="screen" rel="stylesheet" type="text/css" />
		<script src="./assets/menu-bar/prefix-free.js"></script>
	</head>

<body>
	<div class="wrap">
	
	<nav>
		<ul class="menu">
			<li>
				<a href="#" routerLink="/create-company"><span class="iconic plus-alt"></span>Create Company</a>
			</li>
			<li>
				<a href="#" routerLink="/create-customer"><span class="iconic plus-alt"></span>Create Customer</a>
			</li>
			<li>
				<a href="#" routerLink="/get-company"><span class="iconic magnifying-glass"></span>Get Company</a>
			</li>
			<li>
				<a href="#" routerLink="/get-customer"><span class="iconic magnifying-glass"></span>Get Customer</a>
			</li>
			<li>
				<a href="#" routerLink="/get-all-companies"><span class="iconic magnifying-glass"></span>Get All Companies</a>
			</li>
			<li>
				<a href="#" routerLink="/get-all-customers"><span class="iconic magnifying-glass"></span>Get All Customers</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">        
			<li><a href="http://localhost:8080/index.html" id="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
		<div class="clearfix"></div>
	</nav>
	</div>
</body>

</html>